@import 'color';
@import 'mediaquery';
@import 'animation';

@font-face {
    font-family: 'RSBold';
    src: url('/Fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RSRegular';
    src: url('/Fonts/RobotoSlab-Regular.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'RSRegular', Fallback, sans-serif;
}

.loader-bg{
    position: fixed;
    z-index: 999999;
    background: $loaderbg;
    width: 100%;
    height: 100%;

    .loader-fg{
        border: 0 solid transparent;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        top: calc(50vh - 75px);
        left: calc(50vw - 75px);

        &::after, &::before{
            content: '';
            border: 1rem solid $loader;
            border-radius: 50%;
            width: inherit;
            height: inherit; 
            position: absolute;
            top: 0;
            left: 0;
            animation: loader 2s linear infinite;
            opacity: 0;
        }

        &::before{
            animation-delay: 0.5s;
        }
    }
}

#background{
    background: $homebgcolor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    
}

.myname{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    color : $homebgtextcolor;

    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
        span{
            color: red;
        }
    }
}
    

.text{
    background-color: aqua;
}