@import 'color';
@import 'mediaquery';

@font-face {
    font-family: 'RSBold';
    src: url('/Fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RSRegular';
    src: url('/Fonts/RobotoSlab-Regular.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'RSRegular', Fallback, sans-serif;
}


#background{
    background: $homebgcolor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    
}

.myname{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    color : $homebgtextcolor;

    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
        span{
            color: red;
        }
    }
}
    

.text{
    background-color: aqua;
}