/* Fonts */
@font-face {
    font-family: RobotoSlabBold;
    src: url(/assets/fonts/RobotoSlab-Bold.ttf) format(truetype);
}
@font-face {
    font-family: RobotoSlabRegular;
    src: url(/assets/fonts/RobotoSlab-Regular.ttf) format(truetype);
}

/* Root Theme */
:root{
    --header-height: 3rem;
    
    --first-color: #4834d4;
    --first-color-second: #4834d4;
    --first-color-alt: #30336b;
    --first-color-light: #f9ca24;
    --title-color: #ff7979;
    --text-color: #130f40;
    --text-color-light: #eb4d4b;
    --input-color: #ff7979;
    --body-color: #dff9fb;
    --container-color: #ffffff;

    --body-font: 'RobotoSlabRegular', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --medium-font-weight: 500;
    --semi-bold-font-weight: 600;

    --z-index-tooltip: 10;
    --z-index-fixed: 100;
    --z-index-modal: 1000;

    
}
/* Base theme */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--semi-bold-font-weight);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 3rem;
}

.section_title,
.section_subtitle{
    text-align: center;
}

.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-fixed);
    background-color: var(--body-color);
}

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    font-size: 1.5rem;
}

.nav__logo span{
    color: var(--text-color-light);
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--medium-font-weight);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--medium-font-weight);
}

.nav__links:hover{
    color: var(--first-color);
}

.nav__icons{
    font-size: 1.3rem;
    margin: 5px;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}


/* Media Queries */
@media screen and ( min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.5s;
    }

    .show-menu{
        bottom: 0;
    }
}
